name: test_project
description: "A new Flutter project."

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ^3.9.2


dependencies:

  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  go_router: ^16.3.0
  flutter_hooks: ^0.21.3+1
  shared_preferences: ^2.5.3
  dio: ^5.9.0
  flutter_riverpod: ^3.0.3
  hooks_riverpod: ^3.0.3
  flutter_svg: ^2.2.1
  cached_network_image: ^3.4.1

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0


flutter:

  uses-material-design: true

  assets:
    - assets/
    - assets/bottom_bar_icons/